<section class="sobre-bloco container" id="sobre">
  <div class="row align-items-center justify-content-around">


    <div class="col-sm-12 col-md-4">
      <img src="../../assets/imgs/foto2.png" alt="Foto de perfil" width="350" style="max-width: 100%;width: 600px;height: auto;">
    </div>


    <div class="text-sobre col-sm-12 col-md-5" data-aos="fade-down"
    data-aos-easing="linear" data-aos-duration="1500" data-aos-delay="100">
      <h3 style="font-weight: 600;">Um pouco sobre mim</h3>
      <p>
        Meu nome é Gabriel, tenho 20 anos e atualmente estou cursando Análise e Desenvolvimento de Sistemas.
        No meu ensino médio eu sempre tive em mente o objetivo de cursar Psicologia, até descobrir minha paixão por tecnologia!
        Consegui criar meu primeiro site com HTML e CSS. E com isso fiquei obcecado pelas inumeras coisas que conseguimos fazer com a tecnologia!
      </p>
      <button class="btn btn-primary button-cv">
        <a href="../../assets/archives/curriculo - gabriel.pdf"
        download="curriculo - gabriel.pdf" type="application/pdf">Download CV</a>
      </button>
    </div>
  </div>
</section>
